<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" id="vue-main-content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- 卡片集 -->
                <div class="col-lg-3 col-6" v-for="item in clusterHealth">
                    <!-- small card -->
                    <div class="small-box"
                         :class="{ 'bg-success': item.instanceCount >= 2, 'bg-warning': item.instanceCount === 1, 'bg-danger': item.instanceCount < 1 }">
                        <div class="inner">
                            <h3>{{ item.instanceCount }}</h3>
                            <p>{{ item.name }}</p>
                        </div>
                        <div class="icon" v-if="item.instanceCount >= 2">
                            <i class="ion ion-leaf"></i>
                        </div>
                        <div class="icon" v-else-if="item.instanceCount === 1">
                            <i class="ion ion-alert"></i>
                        </div>
                        <div class="icon" v-else>
                            <i class="ion ion-fireball"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6" v-for="item in clusterHealthUnknow">
                    <!-- small card -->
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>{{ item.instanceCount }}</h3>
                            <p>{{ item.name }}</p>
                        </div>
                        <div class="icon" v-if="item.instanceCount >= 2">
                            <i class="ion ion-leaf"></i>
                        </div>
                        <div class="icon" v-else-if="item.instanceCount === 1">
                            <i class="ion ion-alert"></i>
                        </div>
                        <div class="icon" v-else>
                            <i class="ion ion-fireball"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    // window.addEventListener('load', function (ev) {
    //     var es = new EventSource('/cluster/health')
    //     es.addEventListener('message', function (msg) {
    //         // console.log(msg.data);
    //         var reObj = JSON.parse(msg.data);
    //         // vueData.clusterHealth = reObj;
    //         //
    //         vueData.clusterHealth = reObj.clusterHealth;
    //         vueData.clusterHealthUnknow = reObj.clusterHealthUnknow;
    //         vueData.time = reObj.time;
    //     });
    // });

    // var vueMainContent = new Vue({
    //     el: '#vue-main-content',
    //     data: {
    //         clusterHealth: [],
    //         clusterHealthUnknow: []
    //     },
    //     created: function () {
    //         var vueData = this.$data;
    //         setInterval(function () {
    //             axios.get('/cluster/health')
    //                 .then(function (response) {
    //                     if (response.status == 200) {
    //                         vueData.clusterHealth = response.data.clusterHealth;
    //                         vueData.clusterHealthUnknow = response.data.clusterHealthUnknow;
    //                         vueData.time = response.data.time;
    //                     } else {
    //                         console.log(response);
    //                     }
    //                 }).catch(function (error) {
    //                 console.log(error);
    //             });
    //         }, 1000);
    //
    //     },
    //     methods: {}
    // });
</script>
</body>
</html>