<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>飯團媽 | 團購、批發、選物</title>


<!-- CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/benwon.css"></link>
<!-- CSS -->

<!-- JS -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fontawesome/all.js"></script>
<script src="js/jquery.twzipcode.min.js"></script>
<script src="js/benwon.js"></script>
<!-- JS -->

</head>
<body>


<div id="shopCartContext">
  <!-- web -->
  <!-- 回到最上層 -->
  <div class="visible-md visible-lg">
    <a id="gotop" class="gotop_web" href="#">
       <i class="fa fa-chevron-circle-up gotop"></i>
    </a>
  </div>
  <!-- 回到最上層 -->

  <!-- 購物車 -->
  <div class="visible-md visible-lg">
    <a id="shop_cart_red" class="shop_cart_web"
    href="/order.html" v-if="shopListSize > 0"></a>
    <a id="shop_cart" class="shop_cart_web"
    href="/order.html"> <i class="fas fa-shopping-cart shop_cart"></i>
    </a>
  </div>
  <!-- 購物車 -->

  <!-- phone -->
  <!-- 回到最上層 -->
  <div class="hidden-md hidden-lg">
    <a id="gotop" class="gotop_phone" href="#">
       <i class="fa fa-chevron-circle-up gotop"></i>
    </a>
  </div>
  <!-- 回到最上層 -->

  <!-- 購物車 -->
  <div class="hidden-md hidden-lg">
    <a id="shop_cart_red" class="shop_cart_phone_red" href="/order.html"
      v-if="shopListSize > 0"> </a> <a id="shop_cart"
      class="shop_cart_phone" href="/order.html"> <i
      class="fas fa-shopping-cart shop_cart"></i>
    </a>
  </div>
  <!-- 購物車 -->
</div>

<!-- navbar漢堡選單 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">

    <ul class="navbar-nav nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/index.html" >商品清單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/old_order.html" >歷史訂單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index.html" >聯絡我們</a>
      </li>
    </ul>

    <div class="navbar_margin_d visible-xs" ></div>

  </div>

  <!-- logo 1-->
  <div class="container-fluid logo_margin_1 visible-xs" >
    <div class="col-12 text-center" >
      <img class="product_pg_logo_1" src="images/logo_phone.svg" >
    </div>
  </div>
  <!-- logo -->
</nav>
<!-- navbar漢堡選單 -->

<!-- 白底間隔 -->
<!-- 白底間隔 1-->
<div class="container-fluid product_pg_all_1 visible-xs" >
</div>

<!-- 白底間隔 2-->
<div class="container-fluid product_pg_all_2 visible-sm " >
</div>

<!-- 白底間隔 34-->
<div class="container-fluid product_pg_all_34 visible-md visible-lg" >
</div>
<!-- 白底間隔 -->

<!-- 粉色底 -->
<div class="container-fluid pink_bottom" >

<!-- logo 1-->
<div class="container-fluid logo_margin_1_1 visible-xs">
</div>

<!-- logo 234-->
<div class="container-fluid logo_margin_234 hidden-xs">
  <div class="col-12 text-center" >
    <img class="product_pg_logo_234" src="images/logo_pc.svg" >
  </div>
</div>
<!-- logo -->

  <!-- 內容 -->
  <div class="row justify-content-center" >
  <div id="col-lg-12" class="product_pg_box_all" >

    <!-- 歷史訂單內容 -->
    <div class="col-12 pa00200 pt-3" >
    <div class ="text-center">

      <div class="nav nav-tabs">
        <h2 class="nav-link not_s_tbs active">歷史訂單</h2>
      </div>

      <div class="order_bg522F35" >
      <div class="order_all_content tab-content">
      <div class="old_order_box_txt">

        <div class="table-responsive">
          <table class="rwd-table table-hover old_order_txt_bc">
              <tr>
                <th><div class="old_order_txt_nav">日期</div></th>
                <th><div class="old_order_txt_nav">單號</div></th>
                <th><div class="old_order_txt_nav">訂購人</div></th>
                <th><div class="old_order_txt_nav">訂單金額</div></th>
                <th><div class="old_order_txt_nav">付款狀態</div></th>
                <th><div class="old_order_txt_nav">出貨狀態</div></th>
                <th><div class="old_order_txt_nav">明細</div></th>
              </tr>
              <tr>
                <td data-th="日期">2019/01/01</td>
                <td data-th="單號">12345699</td>
                <td data-th="訂購人">王小明</td>
                <td data-th="訂單金額">$119,900</td>
                <td data-th="付款狀態"><span class="badge badge-pill badge-secondary font14">已付款</span></td>
                <td data-th="出貨狀態"><span class="badge badge-pill badge-secondary font14">已出貨</span></td>
                <td data-th="明細"><button class="badge badge-pill badge-light font14">下載</button></td>
              </tr>

              <tr>
                <td data-th="日期">2019/01/01</td>
                <td data-th="單號">12345678</td>
                <td data-th="訂購人">王小明</td>
                <td data-th="訂單金額">$119,900</td>
                <td data-th="付款狀態"><span class="badge badge-pill badge-danger font14">未付款</span></td>
                <td data-th="出貨狀態"><span class="badge badge-pill badge-danger font14">未出貨</span></td>
                <td data-th="明細"><button class="badge badge-pill badge-light font14">下載</button></td>
              </tr>

              <tr>
                <td data-th="日期">2019/01/01</td>
                <td data-th="單號">12345678</td>
                <td data-th="訂購人">王小明</td>
                <td data-th="訂單金額">$119,900</td>
                <td data-th="付款狀態"><span class="badge badge-pill badge-success font14">確認中</span></td>
                <td data-th="出貨狀態"><span class="badge badge-pill badge-success font14">處理中</span></td>
                <td data-th="明細"><button class="badge badge-pill badge-light font14">下載</button></td>
              </tr>

              <tr>
                <td data-th="日期">2019/01/01</td>
                <td data-th="單號">12345678</td>
                <td data-th="訂購人">王小明</td>
                <td data-th="訂單金額">$119,900</td>
                <td data-th="付款狀態"><span class="badge badge-pill badge-secondary font14">已付款</span></td>
                <td data-th="出貨狀態"><span class="badge badge-pill badge-success font14">處理中</span></td>
                <td data-th="明細"><button class="badge badge-pill badge-light font14">下載</button></td>
              </tr>

          </table>
        </div>

      </div>
      </div>
      </div>

    </div>
    </div>
    <!-- 歷史訂單內容 -->

    <!-- 分頁按鈕 -->
    <div class="row justify-content-center pa00600" >
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group btn-group-lg" role="group" aria-label="up group">
        <button type="button" class="btn btn-light color522F35">上一頁</button>
      </div>
      <div class="btn-group btn-group-lg" role="group" aria-label="all group">
        <button type="button" class="btn btn-light color522F35">1</button>
        <button type="button" class="btn btn-light color522F35">2</button>
        <button type="button" class="btn btn-light color522F35">3</button>
        <button type="button" class="btn btn-light color522F35">4</button>
        <button type="button" class="btn btn-light color522F35">5</button>
      </div>
      <div class="btn-group btn-group-lg" role="group" aria-label="down group">
        <button type="button" class="btn btn-light color522F35">下一頁</button>
      </div>
      </div>
    </div>
    <!-- 分頁按鈕 -->

    <!-- 聯絡 -->
    <div class="row justify-content-center">
      <div class="col-10 col-md-4 pa_b20">
        <div class="old_order_button_1">
          <button type="button" class="contact_button btn-danger btn-lg btn-block " ><h1 class="m-0">新增訂單</h1></button>
        </div>
      </div>
      <div class="col-10 col-md-4 pa_b20">
        <div class="old_order_button_1">
          <button type="button" class="contact_button btn-secondary btn-lg btn-block " ><h1 class="m-0">聯絡客服</h1></button>
        </div>
      </div>
    </div>
    <!-- 聯絡 -->

  </div>
  </div>
  <!-- 內容 -->

</div>
<!-- 粉色底 -->


<!-- 底部導覽列 -->
<footer class="container py-5" >
 <div class="row justify-content-md-center">
   <div class="col-md-4 col-xs-12 pt-3 text-center">
     <thead class="table table-borderless">
       <tr>
         <th scope="col">
           <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
           onmouseout="this.src='images/button/button_icon_fb_1.svg'"
           onmouseover="this.src='images/button/button_icon_fb_2.svg'"
           src="images/button/button_icon_fb_1.svg" >
         </th>
         <th scope="col">
           <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
           onmouseout="this.src='images/button/button_icon_line_1.svg'"
           onmouseover="this.src='images/button/button_icon_line_2.svg'"
           src="images/button/button_icon_line_1.svg" >
         </th>
         <th scope="col">
           <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
           onmouseout="this.src='images/button/button_icon_3_1.svg'"
           onmouseover="this.src='images/button/button_icon_3_2.svg'"
           src="images/button/button_icon_3_1.svg" >
         </th>
         <th scope="col">
           <div class="col text-center">
             <small class="d-block mb-3 pt-3 text-muted">© 2019 by benwon</small>
           </div>
         </th>
       </tr>
     </thead>

   </div>

 </div>
</footer>
<!-- 底部導覽列 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  Vue.config.devtools = true;
  Vue.config.debug = true;

  var vueShopCart = new Vue({
    el : '#shopCartContext',
    data : {
      shopCart: {},
      shopListSize: 0
    },
    created : function() {
      var localDataShopCart = localStorage .getItem('localDataShopCart');
      if (localDataShopCart != null) {
        var shopCart = JSON.parse(localDataShopCart);
        this.setShopCart(shopCart);
      }
    },
    methods : {
      setShopCart: function(shopCart){
        this.shopListSize = shopCart.shopList.length;
      }
    }
  });
/*]]>*/
</script>


</body>
</html>
