<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">開通碼列表</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">開通碼</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" id="vue-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">產生開通碼</h3>
              </div>
              <div class="card-body">                
                <!--p>產生幾組開通碼</p-->
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control" v-model="generateCount">
                  <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat" @click.prevent="generateInviteCode">產生</button>
                  </span>
                </div>
                <!-- /input-group -->
              </div>
              <!-- /.card-body -->
            </div>
                
                
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">列表</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">ID</th>
                                    <th>邀請碼</th>
                                    <th>邀請碼狀態</th>
                                    <th>建檔時間</th>
                                </tr>
                                <tr v-for="item in dataList">
                                    <td><a :href="'saleGroupEdit.html?id=' + item.id">{{ item.id }}</a></td>
                                    <td>{{ item.inviteCode }}</td>
                                    <td>
                                    	<span v-if="item.codeStatus === 0">未啟用</span>
                                    	<span v-if="item.codeStatus === 1">已啟用</span>
                                    </td>
                                    <td>{{ convertLocalTime( item.createdDate ) }}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number > 0" @click.prevent="jumpPage( -1 )">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number-1 > 0" @click.prevent="jumpPage( -2 )">{{ page.number-1 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number > 0" @click.prevent="jumpPage( -1 )">{{ page.number }}</a></li>
                                <li class="page-item"><a class="page-link bg-primary" href="#">{{ page.number+1 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+1 < page.totalPages" @click.prevent="jumpPage( 1 )">{{ page.number+2 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+2 < page.totalPages" @click.prevent="jumpPage( 2 )">{{ page.number+3 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+1 < page.totalPages" @click.prevent="jumpPage( 1 )">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    var vueMainContent = new Vue({
        el: '#vue-main-content',
        data: {
            dataList: [],
            page: {
                size: 10,
                totalElements: 0,
                totalPages: 0,
                number: 0
            },
            sort: {
                field: 'createdDate',
                direction: 'desc'
            },
            links: {},
            generateCount: 0
        },
        created: function () {
            this.getData();
        },
        methods: {
            jumpPage: function ( jumpPageCount ) {
                var vueData = this;
                vueData.page.number = vueData.page.number + jumpPageCount;
                this.getData();
            },
            getData: function () {
                var vueData = this;
                var queryUri = '/inviteCodes?page=' + vueData.page.number + '&size=' + vueData.page.size + '&sort=' + vueData.sort.field + ',' + vueData.sort.direction
                axiosGet(queryUri, 
                  function( response ){
                	if (response.status == 200) {
                        vueData.dataList = response.data._embedded.inviteCodes;
                        vueData.page = response.data.page;
                        vueData.links = response.data._links;
                    } else {
                        console.log(response);
                        alert('資料解析失敗');
                    }
                  },
                  function( response ){
                	  console.log(response);
                	  alert('資料載入失敗');
                  }
                );              
            },
            convertLocalTime: function( isoDateTime ){
            	return moment.utc( isoDateTime ).local().format('YYYY-MM-DD HH:mm:ss');
            },
            generateInviteCode: function(){
            	var vueData = this;
            	var postUri = '/api/v1/inviteCodes';
            	var postData = { inviteCodeCount: vueData.generateCount };
            	axiosPost(postUri, postData,
            		function( response ){
            			if (response.status == 201) {
            				vueData.getData();
                		} else {
                			alert(response.data.message);
               			}
            		},
            		function( response ){
            			alert(response.data.message);
            		}
            	);
            	
            }
        }
    });
</script>
</body>
</html>