<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">商品新增</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">商品</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" id="vue-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">新增</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="productName">品名</label>
                                        <input type="text" class="form-control" id="productName" placeholder="加卡比薯條"
                                               v-model.trim="itemData.productName">
                                    </div>
                                    <div class="form-group">
                                        <label for="salePrice">售價</label>
                                        <input type="number" min="1" class="form-control" id="salePrice" placeholder="100"
                                               v-model.trim="itemData.salePrice">
                                    </div>
                                    <div class="form-group">
                                        <label for="discPrice">優惠價</label>
                                        <input type="number" min="1" class="form-control" id="discPrice"
                                               placeholder="100" v-model.trim="itemData.discPrice">
                                    </div>
                                    <div class="form-group">
                                        <label for="expiryDate">賞味效期</label>
                                        <input type="date" class="form-control" id="expiryDate" min="2019-06-01"
                                               v-model.trim="itemData.expiryDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="basicUnitDesc">銷售單位 ( 包、件 )</label>
                                        <input type="text" class="form-control" id="basicUnitDesc" placeholder=""
                                               v-model.trim="itemData.basicUnitDesc">
                                    </div>
                                    <div class="form-group">
                                        <label>建立銷售品項</label>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="productItemName">品項名稱</label>
                                                <input type="text" class="form-control" id="productItemName" placeholder="" v-model.trim="productItemData.productItemName">
                                            </div>
                                            <div class="form-group">
                                                <label for="stockQuantity">庫存數量</label>
                                                <input type="text" class="form-control" id="stockQuantity" placeholder="" v-model.trim="productItemData.stockQuantity">
                                            </div>
                                            <button type="button" class="btn btn-primary" @click="createProductItemData">新增品項</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>銷售品項</label>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>品項名稱</th>
                                                    <th>庫存數量</th>
                                                    <th>action</th>
                                                    <th>action</th>
                                                    <th>action</th>
                                                </tr>
                                                <tr v-for="(item, index) in itemData.productItemList">
                                                    <td>{{ item.productItemName }}</td>
                                                    <td>{{ item.stockQuantity }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-primary" @click="moveUpItem(itemData.productItemList, index )">上移</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-secondary" @click="moveDownItem(itemData.productItemList, index )">下移</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-danger" @click="deleteItem(itemData.productItemList, index)">刪除</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="norm">規範</label>
                                        <textarea id="norm" style="width: 100%" v-model.trim="itemData.norm"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="productIntroduction">商品介紹</label>
                                        <textarea id="productIntroduction" style="width: 100%" v-model.trim="itemData.productIntroduction"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="introduction">介紹</label>
                                        <textarea id="introduction" style="width: 100%" v-model.trim="itemData.introduction"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="specifications">規格</label>
                                        <textarea id="specifications" style="width: 100%" v-model.trim="itemData.specifications"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="product_img_file_selector">列表頁商品圖上傳</label>
                                        <button type="button" class="btn btn-primary" id="product_img_file_selector">選擇檔案</button>
                                        <input type="file" id="product_img_file_elem" accept="image/*" style="display:none" onchange="handleFiles(this.files, 'product_img_file_preview' )">
                                        <label for="product_img_file_preview">已選擇的圖片</label>
                                        <span id="product_img_file_preview"></span>
                                        <button type="button" class="btn btn-primary" @click="upload_product_img">檔案上傳</button>
                                    </div>
                                    <div class="form-group">
                                        <label>列表頁商品圖</label>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td>{{ itemData.productImgId }}</td>
                                                    <td><img :src="itemData.productImgResourceUrl" width="200px"></td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-danger" @click="deleteProductImg">刪除
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="product_img_list_file_selector">明細頁商品圖上傳</label>
                                        <button type="button" class="btn btn-primary" id="product_img_list_file_selector">選擇檔案</button>
                                        <input type="file" id="product_img_list_file_elem" accept="image/*" style="display:none" onchange="handleFiles(this.files, 'product_img_file_list_preview')">
                                        <label for="product_img_file_list_preview">已選擇的圖片</label>
                                        <span id="product_img_file_list_preview"></span>
                                        <button type="button" class="btn btn-primary" @click="upload_product_img_list">檔案上傳</button>
                                    </div>
                                    <div class="form-group">
                                        <label>明細頁商品圖清單</label>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tr v-for="(item, index) in itemData.imageList">
                                                    <td>{{ index }}</td>
                                                    <td>{{ item.id }}</td>
                                                    <td><img :src="item.resourceUrl" width="100px"></td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-primary" @click="moveUpItem(itemData.imageList, index )">上移</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-secondary" @click="moveDownItem(itemData.imageList, index )">下移</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-block btn-outline-danger" @click="deleteItem(itemData.imageList, index)">刪除</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-primary" @click="createItem" >Submit</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="/admin/dist/js/plugins/ckeditor4/ckeditor.js"></script>
<script th:inline="javascript">
    // 處裡檔案選擇的預覽, 上傳的檔案元素, 預覽的標籤 ID
    function handleFiles(files, preview_id) {
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            console.log('name: ' + file.name);
            console.log('size: ' + file.size);
            console.log('type: ' + file.type);
        }
        var previewElement = document.getElementById(preview_id);
        if (!files.length) {
            previewElement.innerHTML = "";
        } else {
            previewElement.innerHTML = "";
            var img = document.createElement("img");
            img.src = window.URL.createObjectURL(files[0]);
            img.height = 100;
            img.onload = function () {
                window.URL.revokeObjectURL(this.src);
            }
            previewElement.appendChild(img);
        }
    }

    var editor_norm = null;
    var editor_productIntroduction = null;
    var editor_introduction = null;
    var editor_specifications = null;

    $(function () {
        // 啟動檔案選擇按鈕
        $('#product_img_file_selector').click(function () {
            $('#product_img_file_elem').trigger('click');
        });

        $('#product_img_list_file_selector').click(function () {
            $('#product_img_list_file_elem').trigger('click');
        });
        initCkeditor();
    })

    var vueMainContent = new Vue({
        el: '#vue-main-content',
        data: {
            itemData: {
                productName: '',
                productImgId: '',
                productImgResourceUrl: '',
                salePrice: 0,
                discPrice: 0,
                expiryDate: '',
                basicUnitDesc: '',
                productItemList: [],
                norm: '',
                productIntroduction: '',
                introduction: '',
                specifications: '',
                imageList: []
            },
            productItemData: {
                productItemName: '',
                stockQuantity: 0
            }
        },
        created: function () {

        },
        methods: {
            createProductItemData: function(){ // 新增品項的按鈕
                var vueData = this;
                vueData.itemData.productItemList.push(
                    {'productItemName': vueData.productItemData.productItemName, 'stockQuantity': vueData.productItemData.stockQuantity}
                );
                vueData.productItemData.productItemName = '';
                vueData.productItemData.stockQuantity = 0;
            },
            createItem: function () {
                var vueData = this;
                vueData.itemData.norm = editor_norm.getData();
                vueData.itemData.productIntroduction = editor_productIntroduction.getData();
                vueData.itemData.introduction = editor_introduction.getData();
                vueData.itemData.specifications = editor_specifications.getData();
                
                axiosPost('/api/v1/product', vueData.itemData, function (response) {
                    if (response.status == 201) {
                        document.location.href = '/admin/productList.html';
                    } else {
                        alert(response.data.message);
                    }
                }, function (response) {
                    alert(response.data.message);
                });

                // axios.post('/api/v1/product', vueData.itemData)
                //     .then(function (response) {
                //         if (response.status == 201) {
                //             alert('建檔成功');
                //         } else {
                //             alert(response.data.message);
                //         }
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     });
            },
            deleteProductImg: function(){
                this.productImgId = '';
                this.productImgResourceUrl = '';
            },
            moveUpItem: function (arr, index) {
                if (index > 0) {
                    arr.splice(index - 1, 0, arr.splice(index, 1)[0]);
                }
            },
            moveDownItem: function (arr, index) {
                if (index + 1 < arr.length) {
                    arr.splice(index + 1, 0, arr.splice(index, 1)[0]);
                }
            },
            deleteItem: function (arr, index) {
                arr.splice(index, 1);
            },
            upload_product_img: function(){
                var vueData = this;
                upload_image_fn('product_img_file_elem',
                    function (response) {
                        vueData.itemData.productImgId = response.data.id;
                        vueData.itemData.productImgResourceUrl = response.data.resourceUrl;
                        document.getElementById('product_img_file_elem').value = '';
                        document.getElementById('product_img_file_preview').innerHTML = '';
                    }
                );
            },
            upload_product_img_list: function(){
                var vueData = this;
                upload_image_fn('product_img_list_file_elem',
                    function (response) {
                        vueData.itemData.imageList.push(
                            {'id': response.data.id, 'resourceUrl': response.data.resourceUrl}
                        );
                        document.getElementById('product_img_list_file_elem').value = '';
                        document.getElementById('product_img_file_list_preview').innerHTML = '';
                        // document.getElementById('fileElem').value = '';
                        // document.getElementById('fileElemList').innerHTML = '';
                    }
                );
            },
            uploadImage: function () {
                var vueData = this;
                var bodyFormData = new FormData();
                bodyFormData.append("uploadChannel", "product");
                bodyFormData.append("file", document.getElementById('fileElem').files[0]);
                // bodyFormData.set('file', document.getElementById('fileElem').files[0]);
                // bodyFormData.set('description', document.getElementById('description').value);
                var config = {
                    onUploadProgress: function (progressEvent) {
                        var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        console.log(percentCompleted)
                    },
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };
                // var instance = createAxiosWithToken();
                var instance = axios.create();
                instance.post('/images/create', bodyFormData, config)
                    .then(function (response) {
                        if (response.status == 201) {
                            vueData.itemData.imageList.push(
                                {'id': response.data.id, 'resourceUrl': response.data.resourceUrl}
                            );
                            document.getElementById('fileElem').value = '';
                            document.getElementById('fileElemList').innerHTML = '';
                        } else {
                            console.log(response);
                            alert('圖片上傳失敗，請稍後再試');
                        }
                    }).catch(function (error) {
                    console.log(error);
                    alert('圖片上傳失敗，請稍後再試');
                    $.unblockUI();
                });
            }
        }
    });

    function upload_image_fn(fileElem, successFn, failureFn){
        var bodyFormData = new FormData();
        bodyFormData.append("uploadChannel", "product");
        bodyFormData.append("file", document.getElementById(fileElem).files[0]);
        // bodyFormData.set('file', document.getElementById('fileElem').files[0]);
        // bodyFormData.set('description', document.getElementById('description').value);
        var config = {
            onUploadProgress: function (progressEvent) {
                var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                console.log(percentCompleted)
            },
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        };
        // var instance = createAxiosWithToken();
        var instance = axios.create();
        instance.post('/images/create', bodyFormData, config)
            .then(function (response) {
                if (response.status == 201) {
                    console.log('圖片上傳成功=>' + response);
                    if(successFn != null){
                        successFn( response );
                    }
                } else {
                    console.log('圖片上傳失敗=>' + response);
                    if(failureFn != null){
                        failureFn( response );
                    }
                }
            }).catch(function (error) {
            console.log(error);
            alert('圖片上傳失敗，請稍後再試');
            $.unblockUI();
        });
    }

    function initCkeditor() {
        editor_norm = CKEDITOR.replace( 'norm',
            {filebrowserImageUploadUrl : '/images/create'}
        );
        editor_productIntroduction = CKEDITOR.replace( 'productIntroduction',
            {filebrowserImageUploadUrl : '/images/create'}
        );
        editor_introduction = CKEDITOR.replace( 'introduction',
            {filebrowserImageUploadUrl : '/images/create'}
        );
        editor_specifications = CKEDITOR.replace( 'specifications',
            {filebrowserImageUploadUrl : '/images/create'}
        );
    }
</script>
</body>
</html>