<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>飯團媽-團購、批發、選物</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var accessToken = [[${accessToken}]];
    var refreshToken = [[${refreshToken}]];
    localStorage.setItem('benwon.accessToken', accessToken);
    localStorage.setItem('benwon.refreshToken', refreshToken);
    document.location.href = "/index.html";
    /*]]>*/
</script>

</body>
</html>
