<html class="h-100">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>benwon 飯團媽團購批發</title>
<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap4-toggle.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" href="/css/docs.min.css"></link>
<link rel="stylesheet" href="/css/3.3.7_bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/4.3.1_bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap-grid.css"></link>
<link rel="stylesheet" href="/css/bootstrap-grid.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap-reboot.css"></link>
<link rel="stylesheet" href="/css/bootstrap-reboot.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/benwon.css"></link>
<!-- CSS -->
<!-- JS -->
<script src="/js/2.0.0/jquery.min.js"></script>
<script src="/js/fontawesome/all.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/4.3.1/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/3.3.7/bootstrap.min.js"></script>
<script src="/js/2.0.0/jquery.min.js"></script>
<script src="/js/jquery.twzipcode.min.js"></script>
<script src="/js/subtract.js"></script>
<script src="/js/axios.util.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>


<script type="text/javascript">
        $(function () {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function () {
                $('html,body').animate({scrollTop: 0}, 'slow');
                /* 返回到最頂上 */
                return false;
            });

            /* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>
<!-- JS -->


</head>
<body>

	<!-- web -->
	<!-- 回到最上層 -->
	<div class="visible-md visible-lg">
		<a id="gotop" class="gotop_web" href="#"> <i
			class="fa fa-chevron-circle-up gotop"></i>
		</a>
	</div>
	<!-- 回到最上層 -->

	<!-- phone -->
	<!-- 回到最上層 -->
	<div class="hidden-md hidden-lg">
		<a id="gotop" class="gotop_phone" href="#"> <i
			class="fa fa-chevron-circle-up gotop"></i>
		</a>
	</div>
	<!-- 回到最上層 -->


	<!-- navbar漢堡選單 -->
	<div
		class="navbar navbar-expand-lg navbar-dark flex-column flex-md-row rounded bg-navbar">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample10" aria-controls="navbarsExample10"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-md-center"
			id="navbarsExample10">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active" href="#">商品清單<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="#">歷史訂單</a></li>
				<li class="nav-item"><a class="nav-link" href="#">聯絡我們</a></li>
			</ul>
		</div>

	</div>
	<!-- navbar漢堡選單 -->


	<!-- 白底間隔 -->
	<div class="container-fluid product_pg_all"></div>
	<!-- 白底間隔 -->

	<!-- 粉色底 -->
	<div class="container-fluid pink_bottom ">
		<!-- logo -->
		<div class="container-fluid logo_margin">
			<div class="col-12 text-center">
				<img class="product_pg_logo" src="/images/logo_pc.svg">
			</div>
		</div>
		<!-- logo -->

		<!-- all -->
		<div class="row justify-content-center" id="vue-app">
			<div id="col-lg-12" class="product_pg_box_all">
				<!-- 聯絡資訊 -->
				<div class="col-12 pa00200">
					<div class="text-center">
						<div class="nav nav-tabs">
							<h2 class="nav-link not_s_tbs active">聯絡資訊</h2>
						</div>

						<div class="order_bg522F35">
							<div class="order_all_content tab-content min200">
								<div class="tab-pane fade in show active">
									<div class="product_box_txt">

										<dl class="row px-2 px-md-4 py-3">
											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">訂購人：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div class="col-8 col-sm-5 col-md-4">
														<input type="text" class="form-control"
															placeholder="自動帶入資料" v-model="userInfo.realName" readonly />
													</div>
												</div>
											</dd>

											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">手機：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div class="col-10 col-sm-7 col-md-6">
														<input type="text" class="form-control"
															placeholder="自動帶入資料" v-model="userInfo.mobilePhone"
															readonly />
													</div>
												</div>
											</dd>

											<!-- 訂購人是否顯示 -->
											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0"></dt>
											<dd class="col-sm-9 col-md-10 pl-2 mt-2 mb-0">
												<div class="form-row">
													<div class="col-10 col-sm-7 col-md-6">
														<div class="checkbox p-0 m-0">
															<label>
																<h4 class="color522F35">
																	<input type="checkbox"
																		v-model="shopCart.showPurchaserUser">顯示
																	<c class="font12 colorDC4146">寄送時是否保留訂購人資料</c>
																</h4>
															</label>
														</div>
													</div>
												</div>
											</dd>
											<!-- 訂購人是否顯示 -->

											<div class="col-12 py-1 line_height_30 px-0">
												<hr class="pb-2">
											</div>
											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">收件人：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div class="col-8 col-sm-5 col-md-4">
														<input type="text" class="form-control"
															placeholder="請輸入 收件人"
															v-model.trim="shopCart.receiverName" required />
													</div>
													<div class="font12 colorDC4146 col-12 col-md-6 pt-2 px-2">
														*請填寫真實姓名，會列印在出貨單上！</div>
												</div>
											</dd>

											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">手機：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div class="col-10 col-sm-7 col-md-6">
														<input name="mobile" id="mobile" pattern="\d{4}\d{6}"
															class="form-control" placeholder="格式：0900111222"
															v-model.trim="shopCart.mobilePhone" required />
													</div>
													<div class="font12 colorDC4146 col-12 col-md-6 pt-2 px-2">
														*不含 - 符號10位數字</div>
												</div>
											</dd>

											<dt class="col-12 col-sm-3 col-md-2 px-0">地址：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div id="twzipcode"
														class="col-12 product_box_txt_h px-0 pb-5 pb-sm-2 pt-2 pt-sm-0">
													</div>
													<div class="col-12 pt-4 pt-sm-0">
														<input type="text" class=" form-control"
															placeholder="請輸入 詳細地址"
															v-model.trim="shopCart.receiverAddress" required />
													</div>
												</div>
											</dd>

											<dt class="col-12 col-sm-3 col-md-2 px-0">備註：</dt>
											<dd class="col-sm-9 col-md-10 px-0">
												<div class="form-row">
													<div class="col">
														<textarea class="form-control"
															id="exampleFormControlTextarea1" placeholder="備註"
															rows="3" v-model.trim="shopCart.remark"></textarea>
													</div>
												</div>
											</dd>
											<!-- 訂購人是否顯示 -->
											<dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0"></dt>
											<dd class="col-sm-9 col-md-10 pl-2 mt-2 mb-0">
												<div class="form-row">
													<div class="col-10 col-sm-7 col-md-6">
														<div class="checkbox p-0 m-0">
															<label>
																<h4 class="color522F35">
																	<input type="checkbox" v-model="receiverIsOrderUser">同訂購人
																	<c class="font12 colorDC4146">收件人資料同訂購人</c>
																</h4>
															</label>
														</div>
													</div>
												</div>
											</dd>
											<!-- 訂購人是否顯示 -->
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 聯絡資訊 -->

				<!-- 訂單明細 -->
				<div class="col-12 pa00200">
					<div class="text-center">
						<div class="nav nav-tabs">
							<h2 class="nav-link not_s_tbs active">訂單明細</h2>
						</div>

						<div class="order_bg522F35">
							<div class="order_all_content pa151500 min200">
								<!-- 第1個商品 -->
								<div class="row pa00200 order_box_txt h_center" v-for="(shopItem, index) in shopCart.shopList">
									<div class="col-4 col-sm-2 pa_d-14" @click="deleteItem(shopCart.shopList, index)">
										<input type="checkbox" benwon-botton="toggle" data-toggle="toggle" data-size="lg" data-on="刪除" data-off="刪除" data-height="10" checked>
									</div>
									<div class="col-8 col-sm-10 bg522F35_content">
										<div class="row order_content">
											<div class="col-12 col-sm-2 pa1001010">
												<div class="order_photo max_150">
													<img class="w-100" src="/images/product_box_pg/test/00.png"
														:src="shopItem.productImgResourceUrl">
												</div>
											</div>
											<div class="col-12 col-sm-6 pa1001010">
												<dl class="row ma0000">
													<dt class="col-12 col-md-3 pa0505">品名：</dt>
													<dd class="col-12 col-md-9 pa0505">{{shopItem.productName}}
														- {{shopItem.productItemName}}</dd>
													<dt class="col-12 col-md-3 pa0505">優惠價：</dt>
													<dd class="col-12 col-md-9 pa0505">${{shopItem.discPrice}}</dd>
													<dt class="col-12 col-md-3 pa0505">單位：</dt>
													<dd class="col-12 col-md-9 pa0505">{{shopItem.basicUnitDesc}}</dd>
													<dt class="col-12 col-md-3 pa0505">賞味效期：</dt>
													<dd class="col-12 col-md-9 pa0505">{{shopItem.expiryDate}}</dd>
												</dl>
											</div>

											<div class="col-12 col-sm-4  align-self-center pa00010 mt-2">
												<dl class="row ma0000">
													<dt class="col-12 col-md-auto ml-md-auto pa0505">
														<label>訂購數量：</label>
													</dt>
													<dd class="col-12 col-md-6 pa0505">
														<div class="col-12 pa0000">
															<input class='qtyminus' type='button' value='-' @click="shopItemMinus( shopItem )" />
																<input class='qty' type='text' :name="'shopItem_' + index" v-model="shopItem.buyCount" @change="shopCartCalculate" /> 
																<input class='qtyplus' type='button' value='+' @click="shopItemAdd( shopItem )" />
														</div>
													</dd>
												</dl>
												<dl class="row ma0000">
													<dt class="col-12 col-sm-auto ml-md-auto total_red pa0505">
														<label>小計：</label>
													</dt>
													<dd class="col-12 col-sm-6 total_red pa0505">
														<h4 class="total_red">${{shopItem.subTotal}}</h4>
													</dd>
												</dl>

											</div>

										</div>
									</div>
								</div>

								<hr class="ma00020">

								<!-- 增加商品 -->
								<div class="row pa00200 order_box_txt h_center">

									<div class="col-4 col-sm-2 pa_d-14"></div>

									<div class="col-8 col-sm-10 bg522F35_content">
										<div class="row order_newcommodity">
											<div class="col-12 pa0000">
												<button type="button" class="new_button btn-secondary btn-lg btn-block " onclick="javascript:location.href='/index.html'">
													<h1 class="m-0">增加商品</h1>
												</button>
											</div>
										</div>
									</div>

								</div>

								<hr class="ma052015">
								<div class="row pa00200 order_total_txt h_center">
									<h3>運費 :＄</h3>
									<h1>{{ shopCart.freightAmount }}</h1>
								</div>
								<!-- 訂單總價 -->
								<div class="row pa00200 order_total_txt h_center">
									<h3>本次訂單總價 :＄</h3>
									<h1>{{ shopCart.orderAmount }}</h1>
								</div>

							</div>
						</div>

						<div class="pa030030">
							<div class="order_button">
								<button class="all_button btn-danger btn-lg btn-block"
									@click="createOrder">
									<h1 class="m-0">送出訂單</h1>
								</button>
							</div>
						</div>

					</div>
				</div>
				<!-- 訂單明細 -->
			</div>
		</div>
		<!-- all -->

	</div>
	<!-- 粉色底 -->


	<!-- 底部導覽列 -->
	<footer class="container py-5">
		<div class="row justify-content-md-center">
			<div class="col-md-2 col-xs-12 text-center">
				<img class="product_pg_bottom_logo pb-2 " src="images/logo_icon.svg">
				<small class="d-block mb-3 text-muted">© 2019 by benwon</small>
			</div>
			<div class="col-md-4 col-xs-12 text-center">
				<thead class="table table-borderless">
					<tr>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='images/button/button_icon_fb_1.svg'"
							onmouseover="this.src='images/button/button_icon_fb_2.svg'"
							src="images/button/button_icon_fb_1.svg"></th>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='images/button/button_icon_line_1.svg'"
							onmouseover="this.src='images/button/button_icon_line_2.svg'"
							src="images/button/button_icon_line_1.svg"></th>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='images/button/button_icon_3_1.svg'"
							onmouseover="this.src='images/button/button_icon_3_2.svg'"
							src="images/button/button_icon_3_1.svg"></th>
					</tr>
				</thead>

			</div>

		</div>
	</footer>
	<!-- 底部導覽列 -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    Vue.config.devtools = true;
    Vue.config.debug = true;

    $(function() {
        $("#twzipcode").twzipcode();
    });


    var vueapp = new Vue({
        el: '#vue-app',
        data: {
        	userInfo: {
        		realName: '',
        		mobilePhone: ''
        	},
        	receiverIsOrderUser : false,
        	mobilePhone: '',
            shopCart: {
                version: 1,
                showPurchaserUser: true,
                receiverName: '',
                mobilePhone: '',
                county: '',
                district: '',
                zipcode: '',
                receiverAddress: '',
                remark: '',
                subTotal: 0,
				freightAmount: 0,
                orderAmount: 0,
                shopList: []
            }
        },
        created: function () {
        	var vueData = this;
        	axiosGet('/api/v1/me', function(response){
        		if (response.status == 200) {
                    console.log(response.data);
                    vueData.userInfo.realName = response.data.realName;
                    vueData.userInfo.mobilePhone = response.data.mobilePhone
                } else {
                	alert(response.data.message);
                    console.log(response);
                }
        	},function(response){
        		alert(response.data.message);
        	});
            var localDataShopCart = localStorage.getItem('localDataShopCart');
            if (localDataShopCart != null) {
                this.shopCart = JSON.parse(localDataShopCart);
                vueData.shopCartCalculate();
            }
        },
        watch: {
        	receiverIsOrderUser: function(value){
        		var vueData = this;
        		if(value === true) {
        			vueData.shopCart.receiverName = vueData.userInfo.realName;
        			vueData.shopCart.mobilePhone = vueData.userInfo.mobilePhone;
        		}
        	}
        },
        methods: {
            deleteItem: function (arr, index) {
            	var vueData = this;
                arr.splice(index, 1);                
                var localDataShopCart = JSON.stringify(vueData.shopCart);
				localStorage.setItem('localDataShopCart', localDataShopCart);
				window.location.reload();
            },
            createOrder: function () {
            	var vueData = this;
            	var shopCart = this.shopCart;
                var twzipcodeArry = $('#twzipcode').twzipcode('get', 'county,district,zipcode');
                shopCart.county = twzipcodeArry[0];
                shopCart.district = twzipcodeArry[1];
                shopCart.zipcode = twzipcodeArry[2];

				var uri = '/api/v1/saleOrder/shopCart';
                var post_data_verify = true;
				if(post_data_verify == true && shopCart.receiverName === ""){
					alert('請輸入收件人');
					post_data_verify = false;
				}
				if(post_data_verify == true && shopCart.mobilePhone === ""){
					alert('請輸入手機');
					post_data_verify = false;
				}
				if(!(/^\d{10}$/.test(shopCart.mobilePhone))){ 
			        alert('手機號碼有誤, 請重新輸入');  
			        post_data_verify = false; 
			    }
				if(post_data_verify == true && shopCart.zipcode === ""){
					alert('請選擇郵遞區號');
					post_data_verify = false;
				}
				if(post_data_verify == true && shopCart.receiverAddress === ""){
					alert('請輸入收件地址');
					post_data_verify = false;
				}
				if(post_data_verify == true){
					axiosPost(
							uri,
							shopCart,
							function(response) {
								if (response.status == 201) {
									localStorage.removeItem('localDataShopCart');
									alert('訂單建立成功');
		                            document.location.href = '/index.html';
								} else {
									alert(response.data.message);
								}
							}, function(response) {
								console.log('error');
								console.log(response);
								alert(response.data.message);
							});
				}
            },
            shopItemMinus: function ( shopItem ) {
                if(shopItem.buyCount > 1){
                	this.blockPage();
                	shopItem.buyCount = shopItem.buyCount - 1;
                    this.shopCartCalculate();
                    this.saveShopCart();
                    this.unblockPage();
                }
            },
            shopItemAdd: function ( shopItem ) {
            	this.blockPage();
                shopItem.buyCount = shopItem.buyCount + 1;
                this.shopCartCalculate();
                this.saveShopCart();
                this.unblockPage();
            },
            shopCartCalculate: function () { // 購物車計算
            	var vueData = this;
            	var shopCart = vueData.shopCart;
            	var subTotal = 0;
            	shopCart.shopList.forEach(function(shopItem, index) {
            		shopItem.subTotal = shopItem.discPrice * shopItem.buyCount;
            		subTotal += shopItem.subTotal;
            	});
            	shopCart.subTotal = subTotal;
            	if(shopCart.subTotal < 2500 ){
            		shopCart.freightAmount = 80;
            	}else{
            		shopCart.freightAmount = 0;
            	}
            	shopCart.orderAmount = shopCart.subTotal + shopCart.freightAmount;
            },
            saveShopCart: function(){
            	var vueData = this;
            	var localDataShopCart = JSON.stringify(vueData.shopCart);
				localStorage.setItem('localDataShopCart', localDataShopCart);
            },
            blockPage: function(){
            	$.blockUI({
                    message: '<img src="/images/loader.gif" />',
                    css: {
                        top: ($(window).height() - 600) / 2 + 'px',
                        left: ($(window).width() - 800) / 2 + 'px',
                        width: '800px',
                        borderWidth: '0px',
                        backgroundColor: 'transparent'
                    }}
            	);
            },
            unblockPage: function(){
            	$.unblockUI();
            }
        }
    });
    /*]]>*/
</script>


</body>
</html>
