<html class="h-100" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>benwon 飯團媽團購批發</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap4-toggle.min.css"></link>
    <link rel="stylesheet" href="/docs/4.2/dist/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/docs/4.2/assets/css/docs.min.css"></link>
    <link rel="stylesheet" href="/css/3.3.7_bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/4.3.1_bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-grid.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-reboot.css"></link>
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css"></link>
    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/benwon.css"></link>
    <link rel="stylesheet" href="/css/fontawesome/5.0.9/all.css"></link>
    <!-- CSS -->

    <!-- JS -->
    <script src="/js/2.0.0/jquery.min.js"></script>
    <script src="/js/fontawesome/all.js"></script>
    <script src="/js/bootstrap4-toggle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/4.3.1/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/3.3.7/bootstrap.min.js"></script>
    <script src="/js/2.0.0/jquery.min.js"></script>
    <script src="/js/jquery.twzipcode.min.js"></script>
    <script src="/js/subtract.js"></script>

    <script type="text/javascript">
        $(function () {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function () {
                $('html,body').animate({scrollTop: 0}, 'slow');
                /* 返回到最頂上 */
                return false;
            });

            /* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>
    <!-- JS -->


</head>
<body>


<!-- web -->
<!-- 回到最上層 -->
<div class="visible-md visible-lg">
    <a id="gotop" class="gotop_web" href="#">
        <i class="fa fa-chevron-circle-up gotop"></i>
    </a>
</div>
<!-- 回到最上層 -->


<!-- phone -->
<!-- 回到最上層 -->
<div class="hidden-md hidden-lg">
    <a id="gotop" class="gotop_phone" href="#">
        <i class="fa fa-chevron-circle-up gotop"></i>
    </a>
</div>
<!-- 回到最上層 -->


<!-- 白底間隔 -->
<div class="container-fluid product_pg_all">
</div>
<!-- 白底間隔 -->

<!-- 粉色底 -->
<div class="container-fluid pink_bottom ">

    <!-- logo -->
    <div class="container-fluid logo_margin pa20000">
        <div class="col-12 text-center">
            <img class="product_pg_logo" src="/images/logo_pc.svg">
        </div>
    </div>
    <!-- logo -->

    <!-- 內容 -->
    <div class="row justify-content-center" id="vue-app">
        <div id="col-lg-12" class="product_pg_box_all pa100200">

            <!-- all -->
            <div class="pa00200">
                <div id="si_tab_1" class="bg522F35_big tab-pane fade in show active">
                    <tr>
                        <div id="si_all_2" class="row justify-content-center">
                            <div class="sign_bg_01">
                                <div class="carousel-inner text-center collapse show">
                                    <div class="col-12 pa0505">
                                        <h1 class="product_box_pg_title_h1">註冊</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="col-12 pa0000">
                            <div class="text-center">
                                <div class="tab-content sign_bg_02">
                                    <!-- 內容 -->
                                    <div class="row justify-content-center">
                                        <!-- 註冊 -->
                                        <div class="col-12 pt-5 collapse show">
                                                <!-- 引導 -->
                                                <div class="row justify-content-center">
                                                    <div class="product_box_txt pt-0 pa_b30">
                                                        <b class="font30 color522F35">快速建立你的帳戶<br>立即開團<b class="font30 colorDC4146">發大財</b></b>
                                                        <i class="fas fa-dollar-sign colorDC4146 fa-4x"></i>
                                                        <br>
                                                    </div>
                                                </div>
                                                <!-- 引導 -->

                                                <!-- 資料表單 -->
                                                <div class="row justify-content-center px-0 px-sm-2 px-md-5">
                                                    <div class="col-12 pa_b20">
                                                        <div>
                                                            <ul class="nav nav-tabs" id="sign_tab_1" role="tab">
                                                                <li class="nav-item">
                                                                    <h3 class="nav-link not_s_tbs active" data-toggle="tab" href="#ol_tab_1">基本資料</h3>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="sign_bg_03">
                                                            <div class="product_box_txt sign_bg_04">

                                                                <dl class="row px-2 px-md-4 py-3">
                                                                    <dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">姓名：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div class="col-8 col-sm-5 col-md-4">
                                                                                <input type="text" class="form-control" placeholder="請輸入 姓名" v-model.trim="userProfile.realName" required/>
                                                                            </div>
                                                                            <div class="font12 colorDC4146 col-12 col-md-6 pt-2 px-2">
                                                                                *請填寫真實姓名，會列印在出貨單上！
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">LINE ID：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div class="col-10 col-sm-7 col-md-6">
                                                                                <input type="text" class="form-control" placeholder="請輸入 LINE ID" v-model.trim="userProfile.lineId" required/>
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">LINE 名稱：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div class="col-10 col-sm-7 col-md-6">
                                                                                <input type="text" class="form-control" placeholder="請輸入 LINE 顯示名稱 " v-model.trim="userProfile.lineUserName" required/>
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">手機：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div class="col-10 col-sm-7 col-md-6">
                                                                                <input name="mobile" id="mobile" pattern="\d{4}\d{6}" class="form-control" placeholder="格式：0900111222" v-model.trim="userProfile.mobilePhone"
                                                                                       required/>
                                                                            </div>
                                                                            <div class="font12 colorDC4146 col-12 col-md-6 pt-2 px-2">
                                                                                *不含 - 符號10位數字
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <dt class="col-12 col-sm-3 col-md-2 line_height_30 px-0">信箱：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div class="col-10 col-sm-7 col-md-6">
                                                                                <input name="email" id="email" type="email" class="form-control" placeholder="請輸入 Email信箱" v-model.trim="userProfile.email" required/>
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <dt class="col-12 col-sm-3 col-md-2 px-0">地址：</dt>
                                                                    <dd class="col-sm-9 col-md-10 px-0">
                                                                        <div class="form-row">
                                                                            <div id="twzipcode" class="col-12 product_box_txt_h px-0 pb-5 pb-sm-2 pt-2 pt-sm-0">
                                                                            </div>
                                                                            <div class="col-12 pt-4 pt-sm-0">
                                                                                <input type="text" class=" form-control" placeholder="請輸入 詳細地址" v-model.trim="userProfile.address" required/>
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                </dl>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- 資料表單 -->

                                                <!-- 手機驗證 -->
                                                <div class="row justify-content-center px-0 px-sm-2 px-md-5">
                                                    <div class="col-12 pa_b20">
                                                        <div>
                                                            <ul class="nav nav-tabs" role="tab">
                                                                <li class="nav-item">
                                                                    <h3 class="nav-link not_s_tbs active" data-toggle="tab" href="#ol_tab_1">手機驗證</h3>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="sign_bg_03">
                                                            <div class="product_box_txt sign_bg_04">

                                                                <dl class="row justify-content-center px-2 px-md-4 pt-1 pb-3">
                                                                    <dt class="col-9 col-sm-4 px-0 pt-3">
                                                                        <div class="col-12 px-2 pt-3 pb-3 pb-sm-1">
                                                                            <input type="text" class="form-control" placeholder="請輸入 驗證碼" v-model="verification.verifyCode" required/>
                                                                        </div>
                                                                    </dt>
                                                                    <dd class="col-9 col-sm-4 px-0">
                                                                        <div class="col-12 px-1 pt-2 pb-3 pb-sm-1">
                                                                            <div class="sign_button_1">
                                                                                <button type="button" href="#" class="sign_phome_cc_button btn-secondary btn-lg btn-block" @click="phoneVerfyCodeSend">
                                                                                    <h3 class="m-0">發送手機驗證碼</h3>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </dd>

                                                                    <div class="col-12 col-sm-8 px-1 pb-2">
                                                                        <div class="sign_button_1 pb-3">
                                                                            <button type="button" class="sign_phome_cc_button btn-danger btn-lg btn-block " @click="phoneVerfyCode">
                                                                                <h2 class="m-0">確認驗證碼</h2>
                                                                            </button> \
                                                                        </div>
                                                                        <div class="font12 color522F35 col-12 pt-2 px-2">
                                                                            *收不到簡訊驗證碼？<a class="colorDC4146" href="#" @click="phoneVerfyCodeSend">點擊重試</a>
                                                                        </div>
                                                                    </div>
                                                                </dl>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- 手機驗證 -->

                                                <!-- 授權同意 -->
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-8 col-md-6 pt-0 pb-3">
                                                        <div class="font14 color522F35 col-12 pt-2 px-2">
                                                            個人資料授權 / 取得使用同意 <a class="colorDC4146" href="#">[詳細說明]</a>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <h4 class="color522F35"><input type="checkbox" v-model="agree">我同意
                                                                    <c class="font12 colorDC4146">請閱讀後勾選</c>
                                                                </h4>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 授權同意 -->

                                                <hr class="pa_b20">

                                                <!-- 按鈕 -->
                                                <div class="row justify-content-center pa0000">
                                                    <div class="col-12 col-sm-10 col-md-6 pa_b40">

                                                        <div class="row">

                                                            <div class="col-6 pa0000">
                                                                <div class="sign_button_11">
                                                                    <button class="sign_contact_button_11 btn-danger btn-lg btn-block" @click="update_profile">
                                                                        <h1 class="m-0">確認</h1>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="col-6 pa0000">
                                                                <div class="sign_button_12">
                                                                    <button class="sign_contact_button_12 btn-secondary btn-lg btn-block" type="button" data-toggle="collapse"
                                                                            href="#si_1,#si_4,#si_6">
                                                                        <h1 class="m-0">取消</h1>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- 按鈕 -->
                                        </div>
                                            <!-- 註冊 -->
                                    </div>
                                    <!-- 內容 -->
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
            <!-- all -->

        </div>
    </div>
    <!-- 內容 -->

</div>
<!-- 粉色底 -->


<!-- 底部導覽列 -->
<footer class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-md-2 col-xs-12 text-center">
            <img class="product_pg_bottom_logo pb-2 " src="/images/logo_icon.svg">
            <small class="d-block mb-3 text-muted">© 2019 by benwon</small>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <thead class="table table-borderless">
            <tr>
                <th scope="col">
                    <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
                         onmouseout="this.src='/images/button/button_icon_fb_1.svg'"
                         onmouseover="this.src='/images/button/button_icon_fb_2.svg'"
                         src="/images/button/button_icon_fb_1.svg">
                </th>
                <th scope="col">
                    <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
                         onmouseout="this.src='/images/button/button_icon_line_1.svg'"
                         onmouseover="this.src='/images/button/button_icon_line_2.svg'"
                         src="/images/button/button_icon_line_1.svg">
                </th>
                <th scope="col">
                    <img class="button_icon" alt="" onclick="setBanner(); showFlag(); "
                         onmouseout="this.src='/images/button/button_icon_3_1.svg'"
                         onmouseover="this.src='/images/button/button_icon_3_2.svg'"
                         src="/images/button/button_icon_3_1.svg">
                </th>
            </tr>
            </thead>

        </div>

    </div>
</footer>
<!-- 底部導覽列 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="/js/axios.util.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    Vue.config.devtools = true;
    Vue.config.debug = true;

    $(function() {
        $("#twzipcode").twzipcode();
    });

    var vueapp = new Vue({
        el: '#vue-app',
        data: {
            userProfile: {
                realName: /*[[(${userProfile.realName})]]*/ '',
                lineId: '',
                lineUserName: /*[[(${userProfile.nickName})]]*/ '',
                mobilePhone: '',
                email: '',
                county: '',
                district: '',
                zipcode: '',
                address: ''
            },
            verification: {
            	smsId: '',
                verifyCode: ''
            },
            verify_state: false, // 電話驗證狀態
            agree: false
        },
        created: function () {
            var vueData = this;
            var accessToken = localStorage.getItem('benwon.accessToken');
        },
        watch: {},
        methods: {
        	phoneVerfyCodeSend: function(){ //發送驗證簡訊
                var vueData = this;
                var uri = '/api/v1/phoneVerfyCodeSend';
                var postData = {mobilePhone: vueData.userProfile.mobilePhone};
				axiosPost(uri, postData, function(response){
					if (response.status == 200) {
                        //document.location.href = '/signUpUserProfileWithToken.html';
						vueData.verification.smsId = response.data.smsId;
                    } else {
                        alert(response.data.message);
                    }
				}, function(response){
					console.log('error');
					console.log(response);
					alert(response.data.message);
				});
            },
            phoneVerfyCode: function(){ //驗證簡訊碼
            	var vueData = this;
                var uri = '/api/v1/phoneVerfyCode';
				axiosPost(uri, vueData.verification, function(response){
					if (response.status == 200) {
						vueData.verify_state = true;
                    } else {
                        alert(response.data.message);
                    }
				}, function(response){
					console.log('error');
					console.log(response);
					alert(response.data.message);
				});
            },
            update_profile: function(){
                var vueData = this;
                var twzipcodeArry = $('#twzipcode').twzipcode('get', 'county,district,zipcode');
                vueData.userProfile.county = twzipcodeArry[0];
                vueData.userProfile.district = twzipcodeArry[1];
                vueData.userProfile.zipcode = twzipcodeArry[2];
                var uri = '/api/v1/phoneVerfyCode';
				axiosPost(uri, vueData.userProfile, function(response){
					if (response.status == 200) {
						document.location.href="/index.html";
                    } else {
                        alert(response.data.message);
                    }
				}, function(response){
					console.log('error');
					console.log(response);
					alert(response.data.message);
				});
            }
        }
    });
    /*]]>*/
</script>
</body>
</html>