<!DOCTYPE html>
<html class="h-100" lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>benwon 飯團媽團購批發</title>
<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap4-toggle.min.css"></link>
<link rel="stylesheet" href="/docs/4.2/dist/css/bootstrap.css"></link>
<link rel="stylesheet" href="/docs/4.2/assets/css/docs.min.css"></link>
<link rel="stylesheet" href="/css/3.3.7_bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/4.3.1_bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap-grid.css"></link>
<link rel="stylesheet" href="/css/bootstrap-grid.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap-reboot.css"></link>
<link rel="stylesheet" href="/css/bootstrap-reboot.min.css"></link>
<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/benwon.css"></link>
<link rel="stylesheet" href="/css/fontawesome/5.0.9/all.css"></link>
<!-- CSS -->

<!-- JS -->
<script src="/js/2.0.0/jquery.min.js"></script>
<script src="/js/fontawesome/all.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/2.1.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/4.3.1/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/3.3.7/bootstrap.min.js"></script>
<script src="/js/2.0.0/jquery.min.js"></script>
<script src="/js/jquery.twzipcode.min.js"></script>
<script src="/js/subtract.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="/js/axios.util.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script type="text/javascript">
	$(function() {
		/* 按下GoTop按鈕時的事件 */
		$('#gotop').click(function() {
			$('html,body').animate({
				scrollTop : 0
			}, 'slow');
			/* 返回到最頂上 */
			return false;
		});

		/* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
		$(window).scroll(function() {
			if ($(this).scrollTop() > 200) {
				$('#gotop').fadeIn();
			} else {
				$('#gotop').fadeOut();
			}
		});
	});
</script>
<!-- JS -->


</head>
<body>


	<!-- web -->
	<!-- 回到最上層 -->
	<div class="visible-md visible-lg">
		<a id="gotop" class="gotop_web" href="#"> <i
			class="fa fa-chevron-circle-up gotop"></i>
		</a>
	</div>
	<!-- 回到最上層 -->


	<!-- phone -->
	<!-- 回到最上層 -->
	<div class="hidden-md hidden-lg">
		<a id="gotop" class="gotop_phone" href="#"> <i
			class="fa fa-chevron-circle-up gotop"></i>
		</a>
	</div>
	<!-- 回到最上層 -->


	<!-- 白底間隔 -->
	<div class="container-fluid product_pg_all"></div>
	<!-- 白底間隔 -->

	<!-- 粉色底 -->
	<div class="container-fluid pink_bottom ">

		<!-- logo -->
		<div class="container-fluid logo_margin pa20000">
			<div class="col-12 text-center">
				<img class="product_pg_logo" src="/images/logo_pc.svg">
			</div>
		</div>
		<!-- logo -->

		<!-- 內容 -->
		<div class="row justify-content-center" id="vue-app">
			<div id="col-lg-12" class="product_pg_box_all pa100200">

				<!-- all -->
				<div class="pa00200">
					<div id="si_tab_1"
						class="bg522F35_big tab-pane fade in show active">
						<tr>
							<div id="si_all_2" class="row justify-content-center">
								<div class="sign_bg_01">
									<div class="carousel-inner text-center collapse show">
										<div class="col-12 pa0505">
											<h1 class="product_box_pg_title_h1">邀請碼</h1>
										</div>
									</div>
								</div>
							</div>
						</tr>
						<tr>
							<div class="col-12 pa0000">
								<div class="text-center">
									<div class="tab-content sign_bg_02">
										<!-- 內容 -->
										<div class="row justify-content-center">
											<!-- 註冊 -->
											<div class="col-12 pt-5 collapse show">
												<!-- 引導 -->
												<div class="row justify-content-center">
													<div class="product_box_txt pt-0 pa_b30">
														<b class="font30 color522F35">還沒有邀請碼嗎?<br> 立即聯絡<b
															class="font30 colorDC4146">客服</b>
														</b> <br>
													</div>
												</div>
												<!-- 引導 -->
												<!-- 驗證 -->
												<div class="row justify-content-center px-0 px-sm-2 px-md-5">
													<div class="col-12 pa_b20">
														<div>
															<ul class="nav nav-tabs" role="tab">
																<li class="nav-item">
																	<h3 class="nav-link not_s_tbs active" data-toggle="tab"
																		href="#ol_tab_1">邀請碼驗證</h3>
																</li>
															</ul>
														</div>

														<div class="sign_bg_03">
															<div class="product_box_txt sign_bg_04">
																<dl
																	class="row justify-content-center px-2 px-md-4 pt-1 pb-3">
																	<dt class="col-9 col-sm-4 px-0 pt-3">
																		<div class="col-12 px-2 pt-3 pb-3 pb-sm-1">
																			<input type="text" class="form-control"
																				placeholder="請輸入 邀請碼"
																				v-model.trim="verification.inviteCode" required />
																		</div>
																	</dt>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<!-- 手機驗證 -->

												<hr class="pa_b20">

												<!-- 按鈕 -->
												<div class="row justify-content-center pa0000">
													<div class="col-12 col-sm-10 col-md-6 pa_b40">

														<div class="row">

															<div class="col-6 pa0000">
																<div class="sign_button_11">
																	<button
																		class="sign_contact_button_11 btn-danger btn-lg btn-block"
																		@click="update">
																		<h1 class="m-0">確認</h1>
																	</button>
																</div>
															</div>

															<div class="col-6 pa0000">
																<div class="sign_button_12">
																	<button
																		class="sign_contact_button_12 btn-secondary btn-lg btn-block"
																		type="button" data-toggle="collapse"
																		href="#si_1,#si_4,#si_6">
																		<h1 class="m-0">取消</h1>
																	</button>
																</div>
															</div>

														</div>

													</div>
												</div>
												<!-- 按鈕 -->
											</div>
											<!-- 註冊 -->
										</div>
										<!-- 內容 -->
									</div>
								</div>
							</div>
						</tr>
					</div>
				</div>
				<!-- all -->

			</div>
		</div>
		<!-- 內容 -->

	</div>
	<!-- 粉色底 -->


	<!-- 底部導覽列 -->
	<footer class="container py-5">
		<div class="row justify-content-md-center">
			<div class="col-md-2 col-xs-12 text-center">
				<img class="product_pg_bottom_logo pb-2 "
					src="/images/logo_icon.svg"> <small
					class="d-block mb-3 text-muted">© 2019 by benwon</small>
			</div>
			<div class="col-md-4 col-xs-12 text-center">
				<thead class="table table-borderless">
					<tr>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='/images/button/button_icon_fb_1.svg'"
							onmouseover="this.src='/images/button/button_icon_fb_2.svg'"
							src="/images/button/button_icon_fb_1.svg"></th>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='/images/button/button_icon_line_1.svg'"
							onmouseover="this.src='/images/button/button_icon_line_2.svg'"
							src="/images/button/button_icon_line_1.svg"></th>
						<th scope="col"><img class="button_icon" alt=""
							onclick="setBanner(); showFlag(); "
							onmouseout="this.src='/images/button/button_icon_3_1.svg'"
							onmouseover="this.src='/images/button/button_icon_3_2.svg'"
							src="/images/button/button_icon_3_1.svg"></th>
					</tr>
				</thead>
			</div>
		</div>
	</footer>
	<!-- 底部導覽列 -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		Vue.config.devtools = true;
		Vue.config.debug = true;
		var vueapp = new Vue(
				{
					el : '#vue-app',
					data : {
						accessToken : /*[[(${accessToken})]]*/'',
						refreshToken : /*[[(${refreshToken})]]*/'',
						verification : {
							inviteCode : ''
						}
					},
					created : function() {
						var vueData = this;
						localStorage.setItem('benwon.accessToken',
								vueData.accessToken);
						localStorage.setItem('benwon.refreshToken',
								vueData.refreshToken);
						//var benwon_token = JSON.stringify(vueData.benwon_token);
					},
					watch : {},
					methods : {
						update : function() {
							var vueData = this;
							var uri = '/api/v1/inviteCodes/use';
							var post_data_verify = true;
							
							if(vueData.verification.inviteCode === ""){
								alert('請輸入開通碼');
								post_data_verify = false;
							}
							
							if(post_data_verify == true){
								axiosPost(
										uri,
										vueData.verification,
										function(response) {
											if (response.status == 200) {
												document.location.href = '/signUpUserProfile.html';
											} else {
												alert(response.data.message);
											}
										}, function(response) {
											console.log('error');
											console.log(response);
											alert(response.data.message);
										});
							}
						}// update: end
					}
				});
		/*]]>*/
	</script>
</body>
</html>