<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">待出貨列表</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">訂單</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" id="vue-main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">訂單</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>訂單編號</th>
                                    <th>訂單金額</th>
                                    <th>建檔時間</th>
                                    <th>action</th>
                                </tr>
                                <tr v-for="item in dataList">
                                    <td><a :href="'saleOrderDetail.html?id=' + item.id">{{ item.id }}</a></td>
                                    <td>{{ item.orderAmount }}</td>
                                    <td>{{ item.createdDate }}</td>
                                    <td><button type="button" class="btn btn-block btn-outline-secondary" @click="viewDetail( item.id )">檢視</button></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number > 0" @click.prevent="jumpPage( -1 )">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number-1 > 0" @click.prevent="jumpPage( -2 )">{{ page.number-1 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number > 0" @click.prevent="jumpPage( -1 )">{{ page.number }}</a></li>
                                <li class="page-item"><a class="page-link bg-primary" href="#">{{ page.number+1 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+1 < page.totalPages" @click.prevent="jumpPage( 1 )">{{ page.number+2 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+2 < page.totalPages" @click.prevent="jumpPage( 2 )">{{ page.number+3 }}</a></li>
                                <li class="page-item"><a class="page-link" href="#" v-if=" page.number+1 < page.totalPages" @click.prevent="jumpPage( 1 )">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="vue-main-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">訂單明細</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>訂單編號</td>
                        <td>{{ orderDetail.id }}</td>
                    </tr>
                    <tr>
                        <td>收件人</td>
                        <td>{{ orderDetail.receiverName }}</td>
                    </tr>
                    <tr>
                        <td>電話</td>
                        <td>{{ orderDetail.mobilePhone }}</td>
                    </tr>
                    <tr>
                        <td>郵遞區號</td>
                        <td>{{ orderDetail.zipcode }}</td>
                    </tr>
                    <tr>
                        <td>郵寄地址</td>
                        <td>{{ orderDetail.receiverAddress }}</td>
                    </tr>
                    <tr>
                        <td>備註</td>
                        <td>{{ orderDetail.remark }}</td>
                    </tr>
                    <tr>
                        <td>訂單金額</td>
                        <td>{{ orderDetail.orderAmount }}</td>
                    </tr>
                    <tr>
                        <td>運費金額</td>
                        <td>{{ orderDetail.freightAmount }}</td>
                    </tr>
                    <tr>
                        <td>出貨狀態</td>
                        <td>
                            <span v-if="orderDetail.isShipped === 0">未出貨</span>
                            <span v-if="orderDetail.isShipped === 1">已出貨</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body">
                <p>訂單明細</p>
                <table class="table table-bordered">
                    <tr>
                        <th>商品名稱</th>
                        <th>數量</th>
                        <th>出貨狀態</th>
                    </tr>
                    <tr v-for="item in orderDetail.saleOrderDetailList">
                        <td>{{ item.productName }}</td>
                        <td>{{ item.unitCount }}</td>
                        <td>
                            <span v-if="orderDetail.isShipped === 0">未出貨</span>
                            <span v-if="orderDetail.isShipped === 1">已出貨</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-primary" @click="updateIsShipped( orderDetail.id )">出貨</button>
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script>
    var vueMainContent = new Vue({
        el: '#vue-main-content',
        data: {
            dataList: [],
            page: {
                size: 10,
                totalElements: 0,
                totalPages: 0,
                number: 0
            },
            sort: {
                field: 'createdDate',
                direction: 'desc'
            },
            links: {},
            orderDetail: {}
        },
        created: function () {
            this.getData();
        },
        methods: {
            jumpPage: function ( jumpPageCount ) {
                var vueData = this;
                vueData.page.number = vueData.page.number + jumpPageCount;
                this.getData();
            },
            getData: function () {
                var vueData = this;
                var uri = '/saleOrders/search/findByIsShipped?isShipped=0';
                axios.get(uri + '&page=' + vueData.page.number + '&size=' + vueData.page.size + '&sort=' + vueData.sort.field + ',' + vueData.sort.direction)
                    .then(function (response) {
                        if (response.status == 200) {
                            vueData.dataList = response.data._embedded.saleOrders;
                            vueData.page = response.data.page;
                            vueData.links = response.data._links;
                        } else {
                            console.log(response);
                        }
                    }).catch(function (error) {
                    console.log(error);
                });
            },
            viewDetail: function (id) {
                vueMainDetail.viewDetail(id);
            }
        }
    });

    var vueMainDetail = new Vue({
        el: '#vue-main-detail',
        data: {
            orderDetail: {}
        },
        created: function () {
        },
        methods: {
            viewDetail: function (id) {
                var vueData = this;
                axios.get('/api/v1/saleOrder/' + id)
                    .then(function (response) {
                        if (response.status == 200) {
                            console.log(response.data);
                            vueData.orderDetail = response.data
                            $('#vue-main-detail').modal('show');
                        } else {
                            console.log(response);
                        }
                    }).catch(function (error) {
                    console.log(error);
                });
            },
            updateIsShipped: function (id) {
                axios.patch('/api/v1/saleOrder/' + id + '/isShipped', {
                    isShipped: 1
                }).then(function (response) {
                    console.log(response);
                    $('#vue-main-detail').modal('hide');
                    vueMainContent.getData();
                    toastr.info('訂單 ' + id +' 出貨完成');
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    });
</script>
</body>
</html>